<%= form_with(url: sessions_path) do |form| %>
    <div>
        <%= form.label :login, 'login' %>
        <%= form.text_field :login, required: true %>
    </div>

    <div>
        <%= form.label :password, 'password' %>
        <%= form.password_field :password, required: true %>
    </div>

    <div>
        <%= form.submit "Log in" %>
    </div>
<% end %>